@model BlogIt.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                BlogIt - The Blog where Devs can Rant!
            </h1>
            <p class="lead">
                Welcome to BlogIt, where the art of blogging meets the world of coding! If you're passionate about programming, eager to share your insights, or simply curious about the dynamic intersection of technology and creative expression, you're in the right place. Our platform is a vibrant community of coding enthusiasts, developers, and tech storytellers who harness the power of words to unravel the mysteries of the digital realm. Whether you're a seasoned developer with years of experience or a coding novice taking your first steps, our blogging space is a welcoming haven for all. Join us on this exciting journey where lines of code transform into narratives, algorithms unfold as captivating tales, and the programming world reveals its stories waiting to be told. Unleash your creativity, share your knowledge, and connect with like-minded individuals as we explore the vast and fascinating landscape of coding through the lens of blogging.
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/dcfhd6pgg/image/upload/v1701826053/aktcta6sz1ygyeuxs4sq.jpg"
                 alt="BlogIt - Dev blogs"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tag.Name
                    </span>
                }
            }
        </div>
    </div>

</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.BlogPosts.Any())
            {
                foreach (var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading"
                             class="mb-2 d-block img-fluid" />

                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-4">
                            Author: @blogPost.Author
                            <br />
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blogPost.ShortDescription</p>

                        <a class="btn btn-dark"
                           asp-area=""
                           asp-controller="Blog"
                           asp-action="Index"
                           asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                    </div>

                }
            }
        </div>
    </div>
</div>